:root {
    --quater-pearl-lusta: #F3EED9;
    --paarl: #824936;
    --neutral-white: #FAF9F6;
    --neutral-black: #222C2A;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem; /* equivalent to 21px */
    line-height: 1.6;
}

.bg-pearl {
    background-color: var(--quater-pearl-lusta);
}

h1 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
    color: var(--paarl);
}


/* -------------------- Start: table css -------------------- */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

/*#edit-btn {*/
/*    margin-right: 10px;*/
/*}*/
/* -------------------- End: table css -------------------- */



/* -------------------- Start: modal css -------------------- */
/*.modal-header .btn-close {*/
/*    padding: .5rem .5rem;*/
/*    margin: -.5rem -.5rem 2.5rem auto;*/
/*}*/
/* -------------------- End: modal css -------------------- */