<!DOCTYPE html>Can I get the grade o
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guess Dice Roll</title>
</head>
<body>
  <h1>Welcome, friend!</h1>
  <h4>Please guess what you think this 6 sided dice will roll?</h4>
  <div>
    <ul>
      <li><a href="/roll-dice/1">1</a></li>
      <li><a href="/roll-dice/2">2</a></li>
      <li><a href="/roll-dice/3">3</a></li>
      <li><a href="/roll-dice/4">4</a></li>
      <li><a href="/roll-dice/5">5</a></li>
      <li><a href="/roll-dice/6">6</a></li>
    </ul>
  </div>
  <div>
    <h4>The number rolled was: <span th:text="${randomNum}"></span></h4>
    <h1><span th:text="${outcome}"></span></h1>
  </div>
</body>
</html>